main {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /* overflow: hidden; */
}

h5 {
  font-size: 0.9rem !important;
  margin-bottom: -0.2rem !important;
  font-weight: bold !important;
}

.card-class {
  overflow: hidden;
  padding: 0rem !important;
  margin: 0 !important;
  transition: all 0.3s;
}

.cardImage {
  width: 100% !important;
  height: 11rem !important;
  clip-path: polygon(0 0, 100% 0%, 100% 87%, 0% 100%);
  transition: all 0.3s;
}

.card-class:hover .cardImage {
  transform: scale(1.1);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
}
.productName {
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  color: #333 !important;
  font-size: 1.1em !important;
  transition: all 0.3s;
  letter-spacing: 0.8px !important;
}
.card-class:hover .productName {
  margin-top: 0.2rem !important;
}
.rating {
  margin-left: -0.5rem;
  font-size: 0.9rem !important;
}
.price {
  margin-left: -0.5rem;
  font-size: 1.7rem !important;
  color: #333 !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  height: 25rem;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  margin-top: 1rem;
}

.carousel img {
  height: 22rem;
  padding: 30px;
  margin-top: 7rem;
  margin-left: auto;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel a {
  margin: 0 auto;
}

.main-class {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.card-items {
  display: flex;
  flex-direction: row;
}

.card-scl {
  width: 20rem !important;
}

.product-class {
  width: 20rem !important;
}

.slick-slide .product-class {
  width: 20rem !important;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #f7f7f7;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  display: none;
  transition: all 0.3s;
}

#prev:hover,
#next:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

#prev {
  z-index: 1 !important;
  top: 50%;
  left: -1.5rem !important;
  transform: translate(50%, -50%);
  /* display: none; */
}

#next {
  top: 50%;
  right: 0;
  z-index: 1 !important;
  right: -1.5rem !important;
  transform: translate(-50%, -50%);
}

.px-5 {
  min-height: 40vh;
}

.slider {
  width: 100%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2rem !important;
  }
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #2998ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2998ff;
  padding: 3px;
  transition: all 0.2s;
}

.slider-bg {
  background-color: #ffffff;
}

.slider-bg:hover #prev {
  display: block;
}

.slider-bg:hover #next {
  display: block;
}
.card-class {
  min-height: 21rem;
}

#showMore {
  display: flex;
  justify-content: center !important;
  align-content: center !important;
  background: #fff;
  border: none;
  padding: 2px;
  border-radius: 50%;
  outline: 0;
  z-index: 100 !important;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
  /* right: -1.5rem !important; */
  z-index: 100 !important;
  top: 50%;
  left: 6.5rem !important;
  text-transform: none !important;
  text-decoration: none !important;
  transform: translate(50%, -50%);
}

#showMore:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.arrow-ic {
  color: #aaa6a6 !important;
}

.hide-class {
  display: none !important;
}

#show-class {
  border: none !important;
  background-color: #f7f7f7 !important;
  z-index: 10 !important;
}

.navbar {
  width: 100%;
  z-index: 1000 !important;
  height: 4.5rem !important;
  background-color: #2c72eb !important ;
}

.form-controll {
  height: 2.4rem !important;
  width: 30rem !important;
  border-radius: 5px !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.nav-btn {
  margin-left: -3rem;
  background-color: transparent !important;
  color: #2c72eb !important;
  border: none !important;
  outline: none !important;
}
.nav-icon {
  outline: none !important;
  margin-top: 0.3rem;
  font-size: 1.2rem !important;
}

.nav-link {
  color: #fff !important;
}

.carousel-indicators li {
  visibility: hidden;
}

.slider-class {
  background-image: url("./img/slider3.jpg");
  background-size: cover;
  background-color: #0d001f;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 1.2rem;
  }
  .carousel img {
    height: 18rem !important;
    margin-top: 6.5rem !important;
  }
  .carousel a {
    margin: 0 auto;
  }
  .form-controll {
    width: 100% !important;
  }
  /* #prev,
  #next {
    display: block !important;
  } */
  .navbar {
    height: 100% !important;
  }
  #prev {
    z-index: 1 !important;
    top: 50%;
    left: -4.5rem !important;
    transform: translate(50%, -50%);
    /* display: none; */
  }

  #next {
    top: 50%;
    right: 0;
    z-index: 1 !important;
    right: -4.5rem !important;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .carousel img {
    height: 20rem !important;
  }

  .card-class {
    margin-left: -0.5rem !important;
    margin-right: 0.5rem !important;
    width: 111% !important;
    min-height: 5rem !important;
    height: 15rem !important;
  }
  .cardImage {
    height: 7rem !important;
  }
  .productName {
    font-size: 0.7rem !important;
    letter-spacing: normal !important;
  }
  .rating {
    font-size: 0.7rem !important;
  }
  .price {
    font-size: 0.8rem !important;
  }
  .slider-bg {
    margin-left: -3rem !important;
    width: 100vw !important;
  }
  #prev {
    background-color: transparent !important;
    left: -1.5rem !important;
  }

  #next {
    background-color: transparent !important;
    right: -1.5rem !important;
  }

  #show-class {
    margin-left: -0.5rem !important;
    width: 110% !important;
    min-height: 5rem !important;
    height: 15rem !important;
    background-color: #f7f7f7 !important;
    z-index: 10 !important;
  }
  #showMore {
    left: 2.5rem !important;
  }
  .carousel img {
    margin-top: 5rem !important;
    height: 15rem !important;
  }
  .heading-main {
    margin-left: -3.2rem !important;
  }
  .showAllCol {
    width: 12rem !important;
    margin: auto !important;
  }
  .showAllHeading {
    margin-left: 1.2rem;
  }
}

@media (max-width: 420px) {
  .showAllCol {
    width: 12rem !important;
    margin: auto !important;
    margin-left: -0.5rem !important;
  }
}

@media (max-width: 396px) {
  .showAllCol {
    width: 15rem !important;
    margin: auto !important;
  }
}
