main {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h5 {
  font-size: 0.9rem !important;
  margin-bottom: -0.2rem !important;
  font-weight: bold !important;
}

.cardImage {
  height: 10rem !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  height: 25rem;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  margin-top: 1rem;
}

.carousel img {
  height: 280px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: auto;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.main-class {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.card-items {
  display: flex;
  flex-direction: row;
}

.card-scl {
  width: 20rem !important;
}

.product-class {
  width: 20rem !important;
}

.slick-slide .product-class {
  width: 20rem !important;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #f7f7f7;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  z-index: 100 !important;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: -3rem !important;
  transform: translate(50%, -50%);
  /* display: none; */
}

#next {
  top: 50%;
  right: -3.5rem;
  transform: translate(-50%, -50%);
}
